@font-face { 
	font-family: Whitney; 
	src: url(../public/fonts/whitneymedium.otf) format("opentype"); 
	font-weight: normal; 
}

@font-face { 
	font-family: Whitney; 
	src: url(../public/fonts/whitneybold.otf) format("opentype"); 
	font-weight: bold;
}

html {
  position: static;
  height: auto;
  overflow: auto;
}

:root {
  --primary: #1DBBC4;
  --purple: #604DA0;
  --yellow: #DBE68C;
  --orange: #F4795E;
  --red: #EF6D7B;
  --drag-maze: 24px;
}

#container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-family: Whitney;
  box-sizing: content-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Slider */
.horizontal-slider {
  width: 100%;
  height: var(--drag-maze);
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  background: var(--yellow);
  border: 6px solid var(--red);
  border-radius: 100%;
  display: block;
  top: calc(-1*var(--drag-maze)/5);
}
/* .example-thumb.active {
  background-color: var(--yellow);
} */
.example-track {
  background: var(--primary);
  transition: 0.3s all ease-in-out;
}
.example-track.example-track-0 {
  background: var(--red);
}
.horizontal-slider .example-track {
  transform: translateY(12px);
  height: 4px;
}
.horizontal-slider .example-thumb {

  width: var(--drag-maze);
  height: var(--drag-maze);
  transition: 0.3s all ease-in-out;
}

.scale {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 calc(var(--drag-maze)/2);
}

.scale > div {
  overflow: visible;
  width: var(--drag-maze);
}

.scale p {
  padding: 24px 24px 24px 0;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  body {
    --drag-maze: 24px;  
  }

  .horizontal-slider .example-thumb {
    top: 4px;
  }
}

/* Question */
.q-header, .q-header > div {
  display: flex;
  align-items: center;
  justify-content: left;
  align-content: center;
}

.q-header input {
  margin-right: .5rem;
}

.q-header button {
  --size: 2rem;
  background-color: transparent;
  border: none;
  padding: calc(var(--size)/4);
  margin-left: calc(var(--size)/4);
  font-weight: 300;
  font-size: 1.2rem;
  opacity: 0.7;
  color: var(--primary);
}

.q-header {
  justify-content: space-between;
}

.q-header h3, .q-header label {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
}

.icon-d-wrapper {
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 100%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-d {
  color: var(--primary);
  font-size: 18px;
}

.d-window {
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  padding: .5rem 1rem;
  border-radius: 12px;
  background-color: #1DBBC4;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  font-size: 16px;
  transform: translate(-100%, 100%);
  cursor: default;
  z-index: 999;
}

.d-window b {
  font-size: 18px;
}

h2 {
  font-size: 2.4rem;
  padding: 0.25rem 6rem 0.25rem 0;
  border-bottom: 2px solid var(--primary);
  margin-bottom: 1.5rem;
  display: inline-block;
}

.window-wrapper {
  position: relative;
}

.question {
  margin-bottom: 1rem;
  border-radius: 8px;
}

.q-section {
  border-bottom: 1px solid var(--yellow);
  padding: .25rem 0;
  margin: 2rem 0;
}

.q-submit {
  width: 100%;
}

.q-submit button {
  display: block;
  margin: 0 auto;
  background-color: var(--primary);
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
  border: none;
  padding: .5rem 2rem;
  border-radius: 18px;
}

/* Dropdpown component */
.dropdown {
  width: 100%;
}

.dropdown button {
  width: 100%;
  background-color: transparent;
  color: var(--primary);
  border: 0;
  margin-bottom: 10px;
}

.dropdown > div {
  padding: 1rem 2rem;
  background-color: rgba(63, 238, 251, 0.287);
  display: block;
  line-height: 1.6;
  overflow: hidden;
  border-radius: 6px;
}